.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

dataset/
datasets/
dataset_raw/

results/initial_eval/visualizations/
checkpoints/
experiments/
outputs/
wandb/

*.pt
*.pth
*.ckpt
*.safetensors

.DS_Store
